:root {
    --bg-color: #CCC1AD;
    --white-text: #F2ECE4;
    --wine-color: #5C1F1F;
    --black-text: #1E1E1E;
    --wood-color: #8B5E3C;
    --product-color: #DFD7C9;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
}
nav,.winery-image,.wine-short-history,.newsletter {
    margin: 5px 0px;    
}

header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    height: 8vh;
    background-color: var(--wine-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.winery-image {
    margin: 0 auto;
    width: 90%;
    height: 30vh;
    background-image: url(./images/wine-field.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px black solid;
    border-radius: 8px;
}
.cellar-image {
    margin: 0 auto;
    width: 90%;
    height: 30vh;
    background-image: url(./images/wine-cellar.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px black solid;
    border-radius: 8px;
}
#map {
    position:relative;
    width:100%;
    height: 100%;
    opacity: 0;
}
.product-container {
    margin:0 auto;
    width: 90%;
    height: calc(100vh - 34vh);
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}
.product {
    padding:5px;
    width:30%;
    height: 280px;
    background-color: var(--product-color);
    display:flex;
    border: 1px solid var(--wine-color);
}
.product img {
    height: 260px;
    margin: 5px;
    border: 1px solid var(--wine-color);
}
.wine-short-history{
    margin: 5px auto;
    width: 50%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.contact-details{
    margin: 5px auto;
    width: 50%;
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.container1 h3 {
    margin-bottom: 5px;
}
.container1 {
    display: flex;
    column-gap: 20px;
}
.container1 ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.contact-form {
    padding:10px 0px;
    width: 100%;
    height: 20vh;
    background-color: var(--wood-color);
}
form {
    display: flex;
    justify-content: center;
    column-gap:20px
}
.personal-info, .text-button{
    display:flex;
    flex-direction: column;
    row-gap: 5px;
}
.newsletter {
    padding:10px 0px;
    width: 100%;
    height: 18vh;
    background-color: var(--wood-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}
footer {
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
footer li {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}
footer li p {
    font-size: 1.15rem;
}
li img {
    width:24px;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    column-gap: 100px;
}
header a {
    color: var(--black-text);
}
nav a {
    color: var(--white-text);
}
nav li:hover {
    font-weight: 900;
}
#email-submit {
    margin-top: 20px;
}
input {
    width: 300px;
    padding: 5px 15px;
    border: 2px solid var(--wine-color);
    border-radius: 8px;
    margin-right: 10px;
}
button {
    padding: 5px 15px;
    border: 2px solid var(--wine-color);
    border-radius: 8px;
    background-color: var(--bg-color);
    color: var(--white-text);
}
button:hover {
    font-size: 1rem;
    color: var(--wine-color);
}
textarea {
    padding:1px 2px;
    border: 2px solid var(--wine-color);
    border-radius: 8px;
}
#map-btn {
    width: 100px;
    height: 50px;
    align-self: center;
    background-color: var(--wood-color);
}

